<header>
    <nav>
        <a href="/">R-media</a>
        <ul>
            <li><a href="/people">All people</a></li>
            <li><a href="/people/new">New people</a></li>
        </ul>
    </nav>
</header>